* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --bg-intro: #1c2431;
    --bg-main: #181f2a;
    --bg-footer: #0b1523;  
    --bg-testmonial: #202a3c;
    --bg-contact: #1C2230;
    --color-text: #fff;
    --color-blue: #339ecc;
    --color-cyan: #65e2d9;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* 10px */
}

body {
    background-color: var(--bg-intro);
}

body, button, input {
    font-size: clamp(14px, 1.6rem, 2vw); /*tela menor, tela padrão, tela maior*/
    
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
  
    color: var(--color-text); 
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container{
    margin: 0 auto;
    padding:  0 2rem;
    width: 100%;
    max-width: 1440px;
}

.call-to-action {
    background: linear-gradient(135deg, #65e2d9, #339ecc);
    max-width: 20rem;
    padding: 1.5rem;
    border-radius: 3rem;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.call-to-action:hover {
    filter: brightness(1.2);
}

[data-responsive="hamburguer"]{
    width: 30px;
    height: 30px;

    cursor: pointer;
    border-radius: 5px;

    background: transparent;

    display: none;
    position: relative;
}

[data-responsive="hamburguer"]::before {
    content: "";

    position: absolute;
    top: 35%;
    left: 15%;

    width: 70%;
    height: 5%;
    border-radius: 5px;
    background: #fff;
}

[data-responsive="hamburguer"]::after {
    content: "";

    position: absolute;
    top: 55%;
    left: 15%;

    width: 70%;
    height: 5%;
    border-radius: 5px;
    background: #fff;
}

