/*---- HEADER ----*/
.header {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    font-family: 'Raleway', sans-serif;

    display: flex;
    align-items: center;
}

.header ul li > a {
    font-size: 1.8rem;
    color: #fff;
    transition: .4s ease-in-out;
}

.header ul li > a:hover {
    border-bottom: .1rem solid #fff;
}

.header ul li + li {
    margin-left: 1.5rem;
}

/* ---- MAIN ---- */

/* ---- INTRO ---- */
.intro {
   margin-top: 3.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.intro-content {
    margin-top: 3.2rem;
    text-align: center;
    color: #fff;
}

.intro-content h2 {
    margin: 0 auto;
    font-size: clamp(20px, 5vw, 2.8rem);
    line-height: 3.8rem;
    max-width: 54rem;
}

.intro-content p {
    margin: 1.6rem auto 0 auto;
    font-size: 1.6rem;
    max-width: 45.3rem;
}

.intro-content > .call-to-action a {
    margin: 1.6rem auto 0 auto;
    display: block;
    max-width: 20rem;
    padding: 1.5rem;
    background: linear-gradient(135deg, #65e2d9, #339ecc);
    color: #fff;
    font-weight: 700;
    border-radius: 3rem;
    transition: .4s ease-in-out;
}

.intro-content > .call-to-action a:hover {
    filter: brightness(1.2);
}